.toper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    justify-content: space-between;
    padding: 46px;
}
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 39px;
    width: 490px;
    height: 25px;
}
.nav_item_bl{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.nav_item_2_bl {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 34px;
    width: 221px;
    height: 25px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.logo{
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 2px;
}